@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #636C79;
    height: 90vh;
}

nav {
    margin: 0 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 34px 0;
}

.logo {
    width: 36vw;
}

.nav-items {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    gap: 40px;
    font-size: 18px;
    color: #ffffff;
}

.button {
    width: 20vw;
    text-align: center;
}

.button a {
    text-decoration: none;
    color: #ffffff;
    border: 1px solid #eedada;
    padding: 5px 25px;
    font-size: 16px;
}

.head {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 70px;
    height: 60vh;
}

.image {
    display: flex;
    align-items: center;
}

.image img {
    width: 40vw;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 35vw;
    height: 60vh;
}

.content h1 {
    font-size: 52px;
    color: #ffffff;
    font-family: "Raleway";
}

.content p {
    font-size: 18px;
    color: #ffffff;
    font-family: "Poppins";
}

.mail {
    display: flex;
    background-color: #ffffff;
    align-items: center;
    width: fit-content;
    padding: 10px 10px;
}

.mail p i {
    color: #000;
}

.mail input {
    border: none;
    margin: 0 10px;
}

.mail button {
    background-color: #90bba6;
    border: none;
    color: #ffffff;
    padding: 10px 25px;
}

.heading {
    margin: 75px 480px;
    text-align: center;
    width: 35vw;
}

.heading h1 {
    font-family: "Raleway";
    font-size: 40px;
}

.stats {
    display: flex;
    justify-content: center;
    gap: 114px;
    margin-bottom: 48px;
}

.stat {
    text-align: center;
    margin-top: 30px;
}

.stat p:first-child {
    font-size: 40px;
    font-weight: 600;
    font-family: "Poppins";
}

.stat p:nth-child(2) {
    font-size: 20px;
    font-family: "Raleway";
}

.video {
    display: flex;
    justify-content: center;
    position: relative;
}

.video img {
    width: 75%;
}

.play {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #ffffff;
    padding: 10px 13px;
    border-radius: 50%;
}

.care-head {
    font-family: "Raleway";
    text-align: center;
    font-size: 56px;
    margin: 148px 0;
}

.post {
    display: flex;
    justify-content: space-evenly;
    margin: 80px 0;
}

.post-img img {
    width: 450px;
    height: 350px;
}

.post-img:nth-child(2) img {
    width: 350px;
}

.post-content {
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.post-content h1 {
    font-family: "Raleway";
    font-size: 42px;
}

.post-content p {
    font-size: 20px;
    font-family: "Poppins";
}

.link a, .post-content a {
    font-family: "Poppins";
    width: fit-content;
    color: #ffffff;
    background-color: #90bba6;
    padding: 10px 25px;
    text-decoration: none;
    font-size: 18px;
}

.team-head {
    display: flex;
    justify-content: space-around;
}

.teams h1 {
    width: 300px;
    font-size: 40px;
    font-family: "Raleway";
}

.teams p {
    font-family: "Poppins";
}

.team-head {
    margin-top: 148px;
}

.team-head p {
    font-size: 20px;
    width: 30vw;
    color: #5f5f5f;
}

.team-bottom {
    margin: 80px 0;
    display: flex;
    justify-content: space-evenly;
}

.staff img {
    width: 20vw;
}

.team-bottom h1 {
    width: 250px;
    font-size: 30px;
    margin: 20px 0;
}

.team-bottom p {
    width: 250px;
}

.link {
    text-align: center;
    margin-bottom: 60px;
}

footer {
    background-color: #0c1216;
    padding: 50px 100px;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    border-bottom: 2px solid #3b4146;
}

.socials {
    display: flex;
    gap: 15px;
}

.socials p {
    background-color: #282F34;
    height: fit-content;
    padding: 14px;
    border-radius: 50%;
}

.socials p i {
    font-size: 20px;
    color: #ffffff;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.list-items {
    list-style: none;
    color: #ffffff;
}

.list-items li:first-child {
    font-family: "Raleway";
    font-size: 20px;
    font-weight: 600;
}

.list-items li {
    padding: 7px 0;
    font-size: 14px;
    font-family: "Poppins";
}

/* media query */

@media screen and (max-width:1024px) {
    .content h1 {
        font-size: 36px;
    }

    .content p {
        font-size: 14px;
    }
    
}

@media screen and (max-width:800px) {
    .nav-item {
        display: none;
    }
}

@media screen and (max-width:600px) {
    .logo img {
        width:100px;
    }

    .button {
        width: 150px;
    }
    
    header {
        height: 800px;
    }

    .image img {
        width: 378px;
    }

    .content {
        width: 378px;
    }

    .heading h1 {
        width: 378px;
        margin-top: 48px;
        margin-left: -348px;
        font-size: 32px;
    }

    .stats {
        display: flex;
        flex-wrap: wrap;
    }

    .care-head {
        font-size: 32px;
    }

    .post {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .post .post-content {
        width: 378px;
        gap: 14px;
    }

    .team-head {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .team-head h1 {
        width: 378px;
        margin-top: 14px;
    }

    .team-head p {
        width: 378px;
        margin-top: 14px;
    }

    .team-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 18px;
    }

    .team-bottom img {
        width: 50vw;
    }

    .footer-logo img {
        width: 100px;
    }

    .socials {
        margin-left: 38px;
    }

    .footer-bottom {
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
    }
}